In [137]:
import pandas as pd
import re
import requests
import glob
import json
import csv
from pandas.io.json import json_normalize

In [3]:
df = pd.read_csv('category_people_from_allpeople.csv')

In [4]:
df.head()

     pageid                        name                 city
0   4438188                 Gene Bartow   Browning, Missouri
1  11636334           Jasper N. Tincher   Browning, Missouri
2   3539692           Rafael Arutyunyan  Artesia, California
3  20724480  Ricardo Brown (basketball)  Artesia, California
4  18151614        William Yancey Brown  Artesia, California

In [5]:
# add a column to loop through urls
# replace spaces with underscores
df['nameurl'] = df['name'].str.replace(" ", "_")

In [14]:
# replace apostrophes in names with %27
df['nameurl'] = df['nameurl'].str.replace("'", "%27")

In [19]:
df.head(20)

,pageid,name,city,nameurl
0,4438188,Gene Bartow,"Browning, Missouri",Gene_Bartow
1,11636334,Jasper N. Tincher,"Browning, Missouri",Jasper_N._Tincher
2,3539692,Rafael Arutyunyan,"Artesia, California",Rafael_Arutyunyan
3,20724480,Ricardo Brown (basketball),"Artesia, California",Ricardo_Brown_(basketball)
4,18151614,William Yancey Brown,"Artesia, California",William_Yancey_Brown
5,706395,Eileen Davidson,"Artesia, California",Eileen_Davidson
6,21114319,Rene Enriquez (mobster),"Artesia, California",Rene_Enriquez_(mobster)
7,7454964,Steve Genter,"Artesia, California",Steve_Genter
8,3271910,Karen Kwan,"Artesia, California",Karen_Kwan
9,10299242,Li Mingzhu,"Artesia, California",Li_Mingzhu
10,25438945,Henry Lozano,"Artesia, California",Henry_Lozano
11,8932121,Igor Macypura,"Artesia, California",Igor_Macypura
12,17363529,John McGuire (composer),"Artesia, California",John_McGuire_(composer)
13,9434604,Tony Mendoza (politician),"Artesia, California",Tony_Mendoza_(politician)
14,37744510,Hannah Miller,"Artesia, California",Hannah_Miller
15,41704659,Fred Romkema,"Artesia, California",Fred_Romkema
16,30206780,Javier Torres,"Artesia, California",Javier_Torres
17,2684700,Shawna Trpcic,"Artesia, California",Shawna_Trpcic
18,952320,Alan Bible,"Lovelock, Nevada",Alan_Bible
19,24498049,Robert Heizer,"Lovelock, Nevada",Robert_Heizer

In [27]:
# loop through each row and make an API call for each page
# then save to a json file

# https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/Wyatt_Earp/monthly/20071130/20181220

# note: pageviews will begin in mid-2015 even though I have 2007 as the start point

people = df['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Red_Smith_(American_football/baseball).json'

In [32]:
df[df.nameurl.str.contains('Red_Smith_')]

,pageid,name,city,nameurl
14146,17564822,Red Smith (American football/baseball),"Kaukauna, Wisconsin",Red_Smith_(American_football/baseball)
33069,27461121,Red Smith (catcher),"Logansport, Indiana",Red_Smith_(catcher)

In [33]:
df2 = df.drop([14146])

In [34]:
# https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/Red_Smith_(American_football/baseball)/monthly/20151130/20181220
# keeps throwing an error, so
# re-run without Red Smith (American football/baseball)

people = df2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Tim_White_(newscaster/reporter).json'

In [35]:
df[df.nameurl.str.contains('Tim_White')]

,pageid,name,city,nameurl
44390,13441246,Tim White (newscaster/reporter),"Clare, Michigan",Tim_White_(newscaster/reporter)
117875,3480548,Tim White (wrestling),"Cumberland, Rhode Island",Tim_White_(wrestling)

In [36]:
df2 = df2.drop([44390])

In [37]:
# re-run

people = df2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Mark_Harrington_(HIV/AIDS_activist).json'

In [39]:
df2[df2.nameurl.str.contains('Mark_Harrington')]

,pageid,name,city,nameurl
58463,27260630,Mark Harrington (HIV/AIDS activist),San Francisco,Mark_Harrington_(HIV/AIDS_activist)
91843,49551018,Mark Harrington (painter),"Bakersfield, California",Mark_Harrington_(painter)

In [40]:
df2 = df2.drop([58463])

In [41]:
people = df2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

ConnectionError: ('Connection aborted.', TimeoutError(60, 'Operation timed out'))

In [43]:
df2.shape

(139502, 4)

In [49]:
#split dataframe into halves
df_half1 = df2.head(70000)

In [47]:
df_half2 = df2.tail(69502)

In [50]:
# re-run in 2 chunks
people = df_half1['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Mel_Queen_(pitcher/outfielder).json'

In [51]:
df_half1[df_half1.nameurl.str.contains('Mel_Queen')]

,pageid,name,city,nameurl
62539,4221538,Mel Queen (pitcher/outfielder),"Morro Bay, California",Mel_Queen_(pitcher/outfielder)

In [52]:
df_half1 = df_half1.drop([62539])

In [62]:
df_half1_sub = df_half1.tail(7463)

In [64]:
df_half1_sub.head()

,pageid,name,city,nameurl
62540,408877,Bill Thomas,"Morro Bay, California",Bill_Thomas
62541,9349476,Kerry Christensen,"Grace, Idaho",Kerry_Christensen
62542,36359069,Marc Gibbs,"Grace, Idaho",Marc_Gibbs
62543,4202057,"Phil Johnson (basketball, born 1941)","Grace, Idaho","Phil_Johnson_(basketball,_born_1941)"
62544,13128903,Junior Van Noy,"Grace, Idaho",Junior_Van_Noy

In [65]:
people = df_half1_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Jeremy_James_(singer/songwriter).json'

In [66]:
df_half1_sub[df_half1_sub.nameurl.str.contains('Jeremy_James_')]

,pageid,name,city,nameurl
65763,19262982,Jeremy James (singer/songwriter),"Rison, Arkansas",Jeremy_James_(singer/songwriter)

In [68]:
df_half1_sub = df_half1_sub.drop([65763])

In [75]:
df_half1_sub2 = df_half1_sub.tail(4239)
df_half1_sub2.head()

,pageid,name,city,nameurl
65764,17122031,Tyrell Johnson (American football),"Rison, Arkansas",Tyrell_Johnson_(American_football)
65765,8624933,William Miller (Canadian football),"Rison, Arkansas",William_Miller_(Canadian_football)
65766,49900482,Jerry Taylor (American politician),"Rison, Arkansas",Jerry_Taylor_(American_politician)
65767,15508074,Ed Wilson,"Rison, Arkansas",Ed_Wilson
65768,37228250,"List of people from Hayward, California","Hayward, California","List_of_people_from_Hayward,_California"

In [76]:
people = df_half1_sub2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

In [77]:
# run for second half
people = df_half2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Mark_Smith_(R/C_modeling_pioneer).json'

In [81]:
# https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/Mark_Smith_(R/C_modeling_pioneer)/monthly/20151130/20181220
df_half2[df_half2.nameurl.str.contains('Mark_Smith_')]

,pageid,name,city,nameurl
75660,3379931,Mark Smith (R/C modeling pioneer),"Escondido, California",Mark_Smith_(R/C_modeling_pioneer)

In [84]:
df_half2 = df_half2.drop([75660])

In [88]:
df.shape
139505 - 75660

63845

In [92]:
df_half2_sub = df_half2.tail(63844)

In [93]:
people = df_half2_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'User:Toploftical/Workpage_5.json'

In [94]:
df_half2_sub[df_half2_sub.nameurl.str.contains('User:Toploftical')]

,pageid,name,city,nameurl
78626,48221945,User:Toploftical/Workpage 5,"Austin, Texas",User:Toploftical/Workpage_5

In [95]:
df_half2_sub = df_half2_sub.drop([78626])

In [97]:
139505 - 78626

60879

In [100]:
df_half2_sub = df_half2_sub.tail(60878)

In [101]:
people = df_half2_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'John_Simpson_(journalist/consumer_advocate).json'

In [102]:
df_half2_sub[df_half2_sub.nameurl.str.contains('John_Simpson_')]

,pageid,name,city,nameurl
78873,28859965,John Simpson (journalist/consumer advocate),"Redondo Beach, California",John_Simpson_(journalist/consumer_advocate)
113004,54493893,John Simpson (Kentucky),"Shelbyville, Kentucky",John_Simpson_(Kentucky)

In [103]:
df_half2_sub = df_half2_sub.drop([78873])

In [105]:
139505 - 78873

60632

In [107]:
df_half2_sub = df_half2_sub.tail(60631)
df_half2_sub.tail(60631).head()

         pageid              name                       city           nameurl
78874  24931870         Ed Soares  Redondo Beach, California         Ed_Soares
78875   7630310    Art Stephenson  Redondo Beach, California    Art_Stephenson
78876   3361392  Jeffrey Vallance  Redondo Beach, California  Jeffrey_Vallance
78877  22261771     Gordon Wagner  Redondo Beach, California     Gordon_Wagner
78878  15265249   Hisaye Yamamoto  Redondo Beach, California   Hisaye_Yamamoto

In [108]:
people = df_half2_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Samuel_Judah_(1798/9_-_1869).json'

In [109]:
df_half2_sub[df_half2_sub.nameurl.str.contains('Samuel_Judah_')]

,pageid,name,city,nameurl
87526,47146677,Samuel Judah (1798/9 - 1869),"Vincennes, Indiana",Samuel_Judah_(1798/9_-_1869)

In [110]:
df_half2_sub = df_half2_sub.drop([87526])

In [111]:
139505 - 87526

51979

In [113]:
df_half2_sub = df_half2_sub.tail(51978)
df_half2_sub.head()

,pageid,name,city,nameurl
87527,40858678,Stanislaus P. La Lumiere,"Vincennes, Indiana",Stanislaus_P._La_Lumiere
87528,13510297,John Law (representative),"Vincennes, Indiana",John_Law_(representative)
87529,4009681,Isaac McCoy,"Vincennes, Indiana",Isaac_McCoy
87530,6439972,John Calvin McCoy,"Vincennes, Indiana",John_Calvin_McCoy
87531,5167832,Robert M. McCracken,"Vincennes, Indiana",Robert_M._McCracken

In [114]:
people = df_half2_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'User:FiendYT/sandbox.json'

In [116]:
df_half2_sub[df_half2_sub.nameurl.str.contains('User:')]

         pageid                  name          city               nameurl
90745  47819056  User:FiendYT/sandbox  Philadelphia  User:FiendYT/sandbox

In [117]:
df_half2_sub = df_half2_sub.drop([90745])

In [118]:
139505 - 90745

48760

In [119]:
df_half2_sub = df_half2_sub.tail(48759)
df_half2_sub.head()

         pageid                    name          city                 nameurl
90746  17866864            Carol McCain  Philadelphia            Carol_McCain
90747  55534994  Helen Grace McClelland  Philadelphia  Helen_Grace_McClelland
90748  26632377     Robert J. McCloskey  Philadelphia     Robert_J._McCloskey
90749   5805801  Henry Plumer McIlhenny  Philadelphia  Henry_Plumer_McIlhenny
90750  23493942          H. Boyd McKeen  Philadelphia          H._Boyd_McKeen

In [120]:
people = df_half2_sub['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

FileNotFoundError: [Errno 2] No such file or directory: 'Mel_Queen_(pitcher/outfielder).json'

In [121]:
df_half2_sub[df_half2_sub.nameurl.str.contains('Mel_Queen')]

,pageid,name,city,nameurl
137488,4221538,Mel Queen (pitcher/outfielder),"Johnson City, New York",Mel_Queen_(pitcher/outfielder)

In [122]:
df_half2_sub = df_half2_sub.drop([137488])

In [123]:
139505 - 137488

2017

In [125]:
df_half2_sub2 = df_half2_sub.tail(2016)
df_half2_sub2.head()

,pageid,name,city,nameurl
137489,35040436,Paul Sahre,"Johnson City, New York",Paul_Sahre
137490,320706,David Sedaris,"Johnson City, New York",David_Sedaris
137491,22271744,Jiverly Wong,"Johnson City, New York",Jiverly_Wong
137492,11591968,James J. Belden,"Fabius, New York",James_J._Belden
137493,27298226,William F. Cogswell,"Fabius, New York",William_F._Cogswell

In [126]:
people = df_half2_sub2['nameurl']

for person in people:
    url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/all-agents/" + person + "/monthly/20071130/20181220"
    response = requests.get(url)
    
    with open(person+'.json', 'w', errors='coerce') as outf:
        outf.write(response.text)

In [141]:
# test unnesting json with one file

with open('/fake/path/name') as f:
    d = json.load(f)

# parent node is items
blah = json_normalize(d['items'])
blah.head(3)

,access,agent,article,granularity,project,timestamp,views
0,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015070100,212779
1,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015080100,239752
2,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015090100,156569

In [ ]:
# load all of the json into a dataframe

path =r'/fake/path/name/ 
files = glob.glob(path + "/*.json")

list = []

for file in files:
    try:
        with open(file) as f:

            data = json.load(f)
            data2 = json_normalize(data['items'], errors='ignore')

            list.append(data2)
    except: 
        print("error, " + file)
        

df = pd.concat(list, axis = 0, ignore_index = True, sort=False)